<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Jess and Luke</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li class="timeline-block animated">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>October 2013</h4>
                                    <h4 class="subheading">Our Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We met while we were both working in different coffee shops in Nashville. Jess would need to get some (more) coffee after work, so she would wonder in to Luke's shop. And he needed coffee before, so he often found an excuse to wonder in to hers.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted timeline-block animated">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>January 2014</h4>
                                    <h4 class="subheading">"I love you"</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">After complaining of some leg pain, Jess had to take Luke in to the hospital for what turned out to be an infection related to a motorcycle crash he was in the following fall. Through the trial the found real committment to each other, and expressed that with three simple words.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-block animated">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2014</h4>
                                    <h4 class="subheading">A long vacation</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Later that summer Jess took a (already planned) vacation to Southeast Asia. They say that absence makes the heart grow fonder, and the time apart showed these two adventurers that they really wanted to go out and explore together.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted timeline-block animated">
                            <div class="timeline-image animated">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>June 2015</h4>
                                    <h4 class="subheading">"You wanna get married?"</h4>
                                </div>
                                <div class="timeline-body">
                                  <p class="text-muted">After not working for a year and some change, then working and figuring out a change was needed, and then six months of full-time coding school Luke finally bought Jess a ring and asked her if she wanted to go ahead and get married. She said yes, and they can't wait to celebrate this with you!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted timeline-block animated">
                            <div class="timeline-image">
                                <h4>We hope
                                    <br>You'll
                                    <br>Join us!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
